<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="./css/layout.css">
    </head>
    <body>
        <%- include('_header'); %>

        <!-- Express predefine value of rendered ejs file into body -->
        <%- body %>
        
        <%- include('_footer'); %>
    </body>
</html>