<!-- As it will be part of layout's body section so only variable part is needed -->

        <!-- Adding style -->
        <link rel="stylesheet" href="/css/user_profile.css">

        <h1>Codeial / Profile</h1>

        <p><%= user.name %></p>
        <p><%= user.email %></p>

        <!-- <h1>User: <%= user %></h1> -->
