<!-- As it will be part of layout's body section so only variable part is needed -->

<!-- Adding style -->
<link rel="stylesheet" href="/css/user_profile.css">

<h1>User Profile</h1>
<p>Name: <%= user.name %></p>
<p>Email: <%= user.email %></p>